* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: crimson;
    justify-content: space-around;
    padding: 20px 0;
    color: aliceblue;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: rgb(51, 51, 51);
}

/* menu mobile */
.click {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.click input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.click span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    transition: all 0.5s;
}

/* menu animation (animasi menyilang) */
.click span:nth-child(2){
    transform-origin: 0 0;
}

.click span:nth-child(4){
    transform-origin: 0 100%;
}

.click input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.click input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.click input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}



 /* ukuran tablet */
 @media screen and (max-width: 760px){
    nav ul {
        width: 50%;
    }
 }

 /* ukuran mobile */
 @media screen and (max-width: 576px){
    .click {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: crimson;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
 }